.reviewsList {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 631px;
}

.reviewsList > li > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviewerAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f7;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #e44848;
}

.reviewrName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
