.formContainer {
  padding: 44px 57px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 641px;
  height: 588px;
}

.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 8px;
}

.formText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form > label > input,
.form > label > textarea,
.dateInput {
  border-radius: 12px;
  padding: 18px;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.comment {
  height: 118px;
  resize: none;
}

.inputError {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 200px;
  padding: 16px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e44848;
  width: 166px;
  height: 56px;
  margin: 0 auto;
}

.successNotification {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #4caf50;
  background-color: #e8f5e9;
  color: #2e7d32;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}
