.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: rgb(227, 205, 169);
  color: rgb(237, 141, 23);
  border-radius: 12px;
}
