.catalogContainer {
  padding-top: 48px;
  padding-bottom: 52px;
  display: flex;
  gap: 64px;
  justify-content: center;
}

.catalogListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-items: center;
  width: 888px;
}

.trucksList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.trucksItem {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  background-color: #fff;
}

.truckImage {
  border-radius: 10px;
}

.truckInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.truckName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.truckName > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
}

.truckPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
  display: flex;
  gap: 12px;
}

.truckLocation {
  display: flex;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.truckRating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.truckCity {
  display: flex;
  gap: 4px;
  align-items: center;
}

.truckInfo > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.truckEquipment {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.truckEquipment > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f4f7;
  border-radius: 100px;
  padding: 12px 18px;
  gap: 8px;
}

.truckButton {
  border-radius: 200px;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e44848;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  width: 166px;
  height: 56px;
}

.truckButton:hover {
  background-color: #d84343;
}

.catalogButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
}

.catalogButton:hover {
  border: 1px solid #d84343;
}

.selected {
  fill: #e44848;
}

.star {
  color: #ffc531;
  fill: #ffc531;
}
